body {
    text-align: center;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.safe-area {
    position: absolute;
    top: env(safe-area-inset-top);
    bottom: env(safe-area-inset-bottom);
    left: env(safe-area-inset-left);
    right: env(safe-area-inset-right);
}

#unity-container {
    position: relative;
    aspect-ratio: 16 / 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); /* 수평 중앙 정렬 */
}

@media (min-aspect-ratio: 16/9) {
    #unity-container {
        width: auto; /* 16:9 비율 유지 */
        height: 100%;
    }
}

@media (max-aspect-ratio: 16/9) {
    #unity-container {
        width: 100%;
        height: auto;
    }
}

#unity-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

#LoadingWindow, #LoadingBG {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    transition: opacity 0.5s ease; /* 페이드아웃 전환 추가 */
}
.fade-out {
    opacity: 0;
}
#LoadingBarContainer {
    position: absolute;
    bottom: 10%; /* 화면의 중간 아래쪽에 위치하도록 설정 */
    left: 50%;
    transform: translateX(-50%); /* 수평 중앙 정렬 */
    width: calc(100% * (815 / 1920)); /* 1920px 기준 815px 너비 비율 */
    height: calc(100% * (36 / 1080)); /* 1080px 기준 36px 높이 비율 */
    max-width: 815px; /* 최대 너비 제한 */
    max-height: 36px; /* 최대 높이 제한 */
}
#LoadingBarBackground {
    width: 100%;
    height: 100%;
    background: #383371;
    box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.45) inset;
    border-radius: 90px;
    border: 2px solid #241F5E;
    position: absolute;
    top: 0;
    left: 0;
}

#LoadingText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 가로 및 세로 중앙 정렬 */
    color: #8397FF;
    font-size: calc(min(100vw, 100vh) * (25 / 1920)); /* 가로와 세로 중 작은 값을 기준으로 폰트 크기 조정 */
    font-family: SUITE, sans-serif;
    font-weight: 700;
}

#bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #B8FF21 0%, #B8FF21 100%), 
                linear-gradient(180deg, rgba(0, 0, 0, 0) 51%, rgba(22, 156, 174, 0.20) 51%);
    box-shadow: 0px 2px 0px rgba(255, 255, 255, 0.88) inset;
    border-radius: 90px;
}
